<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2013 The Android Open Source Project

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<!-- the versionCode is an integer representation of this version of your application.  New
     versions get higher numbers, so the upgrade system can avoid dealing with the ambiguity
     of "1.9" vs "1.10".  versionName, on the other hand, can be whatever you want, as the code
     that handles upgrading Android apps between versions on your device just ignores it.-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.advancedimmersivemode"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- This sample is to demonstrate features released in API 19.
         So while it would technically run on an earlier version of Android,
         there wouldn't be much point) -->
    <!-- Min/target SDK versions (<uses-sdk>) managed by build.gradle -->
    <!-- allowBackup declares if the app can be part of device-wide backups such as "adb backup" -->
    <!-- theme is a way of applying UI decisions across your entire application.  You can also
         define it on a per-application basis. -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <!-- Every activity needs its own Manifest element.  The intent-filter contained in the
             element declares the intents that can be used to activate this Activity.  For instance,
             the one below flags this Activity as a "main" entry point of this app, and suitable
             for creating a shortcut to in the Launcher.  If you wanted your app to have 5
             different Activities available in the launcher, you could just make 5 activities
             with that intent filter.  Please don't do that.  Just because it's a good example
             doesn't mean it's a good idea. -->
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
