<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.windowmanagersample">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RxActivity"
            android:exported="true" />
        <activity
            android:name=".demos.WindowDemosActivity"
            android:exported="true"
            android:label="@string/window_manager_demos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayFeaturesActivity"
            android:label="@string/display_features" />
        <activity
            android:name=".SplitLayoutActivity"
            android:label="@string/split_layout" />
        <activity
            android:name=".WindowMetricsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:label="@string/window_metrics" />
        <activity
            android:name=".embedding.SplitActivityA"
            android:exported="true"
            android:label="Split Main"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.manual_split_affinity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".embedding.SplitActivityB"
            android:exported="false"
            android:label="B"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.manual_split_affinity"/>
        <activity
            android:name=".embedding.SplitActivityC"
            android:exported="false"
            android:label="C"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.manual_split_affinity"/>
        <activity
            android:name=".embedding.SplitActivityD"
            android:exported="false"
            android:label="D"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.manual_split_affinity"/>
        <activity
            android:name=".embedding.SplitActivityE"
            android:exported="false"
            android:label="E"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.manual_split_affinity"/>
        <activity
            android:name=".embedding.SplitActivityF"
            android:exported="false"
            android:label="F"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.manual_split_affinity"/>
        <activity
            android:name=".embedding.SplitActivityPlaceholder"
            android:exported="false"
            android:label="Placeholder"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.manual_split_affinity"/>
        <activity
            android:name=".embedding.SplitActivityTrampoline"
            android:exported="true"
            android:label="Split Trampoline"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.trampoline_affinity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".embedding.SplitActivityTrampolineTarget"
            android:targetActivity=".embedding.SplitActivityA"/>
        <activity
            android:name=".embedding.SplitActivityList"
            android:exported="true"
            android:label="Split List"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.list_detail_split_affinity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".embedding.SplitActivityDetail"
            android:exported="false"
            android:label="Item detail"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:launchMode="singleTop"
            android:taskAffinity="com.example.windowmanagersamplee.list_detail_split_affinity"/>
        <activity
            android:name=".embedding.SplitActivityListPlaceholder"
            android:exported="false"
            android:label="Placeholder"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density|touchscreen"
            android:taskAffinity="com.example.windowmanagersample.list_detail_split_affinity" />
        <provider android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- This entry makes ExampleWindowInitializer discoverable. -->
            <meta-data  android:name="com.example.windowmanagersample.embedding.ExampleWindowInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
