<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windowmanagersample">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RxActivity"
            android:exported="true" />
        <activity
            android:name=".WindowDemosActivity"
            android:label="@string/window_manager_demos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayFeaturesActivity"
            android:label="@string/display_features" />
        <activity
            android:name=".SplitLayoutActivity"
            android:label="@string/split_layout" />
        <activity
            android:name=".WindowMetricsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:label="@string/window_metrics" />
    </application>

</manifest>